<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="templateSimple :: header"></head>

<body>

<!--    div upper menu-->
<div th:replace="templateSimple :: divUpperMenuLogged"></div>

<!--    div main-->
<div id="main">

    <!--    div menu (left side)-->
    <div th:replace="templateSimple :: divMenuLeft"></div>

    <!--        div content (central) inside main-->
    <div id="content" class="col-sm-10">
        <br><br><br><br>
        <h3>Welcome in Address page</h3>
        <br><br>

        <!--    add buttons-->
        <div th:replace="templateSimple :: addButtons"></div>

        <br><br><br><br>

        <!--    Address add/edit NEW form-->
        <br> Add new Address: <br>
        <table class="table table-bordered" align="center">
            <form th:action="@{/addressAdd}" th:object="${address}" method="post">

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="id">ID</label>
                        <input type="number" id="id" name="id" th:field="*{id}" class="form-control" disabled >
                    </div>
                    <div class="form-group col-md-4">
                        <label for="street">Street name:</label>
                        <input type="text" id="street" name="street" th:field="*{street}" class="form-control" >
                    </div>
                    <div class="form-group col-md-3">
                        <label for="houseNumber">House number:</label>
                        <input type="text" id="houseNumber" name="houseNumber" th:field="*{houseNumber}" class="form-control" >
                    </div>
                    <div class="form-group col-md-3">
                        <label for="apartmentNumber">Apartment number:</label>
                        <input type="text" id="apartmentNumber" name="apartmentNumber" th:field="*{apartmentNumber}" class="form-control" >
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="postcode">Postcode:</label>
                        <input type="text" id="postcode" name="postcode" th:field="*{postcode}" class="form-control" >
                    </div>
                    <div class="form-group col-md-6">
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" th:field="*{city}" class="form-control" >
                    </div>
                    <div class="form-group col-md-3">
                        <label for="status">Status:</label>
                        <input type="text" id="status" name="status" th:field="*{status}" class="form-control" disabled>
                    </div>
                </div>

                <div>
                    <div class="form-group col-md-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </form>
        </table>

        <!--    Address List-->

    </div>
</div>
<!--    end div main-->


</body>
</html>