<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="templateSimple :: header"></head>

<body>

<!--    div upper menu-->
<div th:replace="templateSimple :: divUpperMenuLogged"></div>

<!--    div main-->
<div id="main">

    <!--    div menu (left side)-->
<!--    <div th:replace="templateSimple :: divMenuLeft"></div>-->

    <!--        div content (central) inside main-->
    <div id="content" class="col-sm-12">

        <hr>
        <!--    Book list-->
        <form class="form-signin" onsubmit="window.location = '/book/' + search.value; return false;">
            <div class="input-group mb-2" style="text-align: center;">
                <div class="input-group-prepend">
                    <input class="form-control" id="search" placeholder="2019-07" type="search" name="search"/>
                    <button type="submit" class="btn btn-primary mb-2">Generate</button>
                </div>
                        <button class="btn btn-primary mb-2" onclick="window.print()">Print</button>
                <small class="form-text text-muted">(1) Period date must be yyyy-mm</small><br>
                <small class="form-text text-muted">(2) To see all inv from 2019, type 2019-12</small>
            </div>
        </form>

            <hr>

            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-12">
                        <img th:src="@{/img/category2.png}" alt="placeholder 960" class="img-responsive" />
                    </div>
                </div>
            </div>

            <hr>
            <!-- Book list -->
            <div class="container-smaller" id="section-to-print">
                <table class="table table-bordered table-striped table-sm small" id="res">
                    <thead>
                    <tr>
                        <th style="text-align: center; ">(1) No</th>
                        <th style="text-align: center; ">(2) date create</th>
                        <th style="text-align: center; ">(3) evidence number</th>
                        <th style="text-align: center; ">(4) contractor name</th>
                        <th style="text-align: center; ">(6) description</th>

                        <th style="text-align: center; ">(7) sale & services</th>
                        <th style="text-align: center; ">(8) other income</th>
                        <th style="text-align: center; ">(9) Sum income</th>

                        <th style="text-align: center; ">(12) salary</th>
                        <th style="text-align: center; ">(13) other expenses</th>
                        <th style="text-align: center; ">(14) Sum outcome</th>

                    </tr>
                    </thead>

                    <tbody id="myTableBook">
                        <tr th:each="invoice: ${invoices}">
                            <td style="text-align: center; "></td>
                            <td th:text="${invoice.dateCreate}"></td>
                            <td th:text="${invoice.invoiceNumber}"></td>
                            <td th:text="@{${invoice.clientPartner.companyName}+${invoice.clientPartner.personalName}+' '+${invoice.clientPartner.personalSurname}}"> </td>
                            <td th:text="${invoice.description}"></td>
                            <td class="countable0" style="text-align: right; " th:text="${invoice.amountType[0]}"></td>
                            <td class="countable1" style="text-align: right; " th:text="${invoice.amountType[1]}"></td>
                            <td style="text-align: right; "
                                th:value="${invoice.amountType[0]} + ${invoice.amountType[1]}">
                            </td>
                            <td class="countable2" style="text-align: right; " th:text="${invoice.amountType[2]}"></td>
                            <td class="countable3" style="text-align: right; " th:text="${invoice.amountType[3]}"></td>
                            <td style="text-align: right; "
                                th:value="${invoice.amountType[2]} + ${invoice.amountType[3]}">
                            </td>
                        </tr>

                    <!--        2x sum under the loop -->
                        <!--    1st sum this period (under the loop) -->
                        <tr style="text-align: right; ">
                            <td class="empty-table"></td>
                            <td class="empty-table"></td>
                            <td class="empty-table"></td>
                            <td class="empty-table"></td>
                            <td>Sum of the current period:</td>
                            <td th:text="${sumAmountThisMonth[0]}"></td>
                            <td th:text="${sumAmountThisMonth[1]}"></td>
                            <td
                                    th:text="${sumAmountThisMonth[4]}">
                            </td>
                            <td th:text="${sumAmountThisMonth[2]}"></td>
                            <td th:text="${sumAmountThisMonth[3]}"></td>
                            <td
                                    th:text="${sumAmountThisMonth[5]}">
                            </td>
                        </tr>

                        <!--        2nd sum from the beginning of the year (under the loop) -->
                        <tr style="text-align: right; ">
                            <td class="empty-table"></td>
                            <td class="empty-table"></td>
                            <td class="empty-table"></td>
                            <td class="empty-table"></td>
                            <td>Sum from the beginning of the year:</td>
                            <td th:text="${sumAmountFromTheBeginningOfTheYear[0]}"></td>
                            <td th:text="${sumAmountFromTheBeginningOfTheYear[1]}"></td>
                            <td
                                    th:text="${sumAmountFromTheBeginningOfTheYear[4]}">
                            </td>
                            <td th:text="${sumAmountFromTheBeginningOfTheYear[2]}"></td>
                            <td th:text="${sumAmountFromTheBeginningOfTheYear[3]}"></td>
                            <td
                                    th:text="${sumAmountFromTheBeginningOfTheYear[5]}">
                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>



            <!--    Address Filter Script -->
        <script th:replace="templateFilters :: addresses"></script>

    </div>
</div>
<!--    end div main-->



</body>
</html>
