<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="templateSimple :: header"></head>

<body>

<!--    div upper menu-->
<div th:replace="templateSimple :: divUpperMenuLogged"></div>

<!--    div main-->
<div id="main">

    <!--        div menu (left side)-->
<!--    <div th:replace="templateSimple :: divMenuLeft"></div>-->

    <!--        div content (central) inside main-->
    <div id="content" class="col-sm-12">

        <hr>
        <!--    Book upper text -->
        <div class="row">
            <div class="col-sm-6">
                <form class="form-signin" onsubmit="window.location = '/book/' + search.value; return false;">
                    <div class="input-group mb-2" style="text-align: center;">
                        <input class="form-control" id="search" placeholder="2019-07" type="search" name="search"/>
                        <button type="submit" class="btn btn-primary mb-2">Generate</button>
                        <button class="btn btn-primary mb-2" onclick="window.print()">Print</button>
                        <button class="btn btn-primary" onclick="window.history.go(-1); return false;">Back</button>

                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <small class="form-text text-muted">(1) Period date must be yyyy-mm</small><br>
                <small class="form-text text-muted">(2) To see all invoices in 2019/07, type 2019-7</small><br>
                <small class="form-text text-muted">(3) sample: <a href="/book/2019-7">/book/2019-7</a></small><br>
                <small class="form-text text-muted">(4) To see all invoices in Book, put empty field</small><br>
                <small class="form-text text-muted">(5) sample: <a href="/book">/book</a></small>
            </div>
        </div>

        <hr>

            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-12">
                        <img th:src="@{/img/category2.png}" alt="placeholder 960" class="img-responsive" />
                    </div>
                </div>
            </div>

            <hr>

            <!-- Book list -->
            <div class="container-smaller" id="section-to-print">
                <table class="table table-bordered table-striped table-sm small" id="res">
                    <h4>
                        Summary all invoices:<br>
                        Company: <span th:text="${user.getCompanyName()}"/><br>
                        Address:
                        <span th:text="${user.getAddress().getStreet()}"/>
                        <span th:text="${user.getAddress().getApartmentNumber()}"/>
                        <span th:text="${user.getAddress().getHouseNumber()}"/>,
                        <span th:text="${user.getAddress().getPostcode()}"/>
                        <span th:text="${user.getAddress().getCity()}"/>
                    </h4>
                    <tr>
                        <th style="text-align: center; ">(1) No</th>
                        <th style="text-align: center; ">(2) date create</th>
                        <th style="text-align: center; ">(3) evidence number</th>
                        <th style="text-align: center; ">(4) contractor name</th>
                        <th style="text-align: center; ">(6) description</th>

                        <th style="text-align: center; ">(7) sale & services</th>
                        <th style="text-align: center; ">(8) other income</th>
                        <th style="text-align: center; ">(9) Sum income</th>

                        <th style="text-align: center; ">(12) salary</th>
                        <th style="text-align: center; ">(13) other expenses</th>
                        <th style="text-align: center; ">(14) Sum outcome</th>

                    </tr>

                    <tbody id="myTableBook">
                        <tr th:each="invoice: ${invoices}">
                            <td style="text-align: center; "></td>
                            <td th:text="${invoice.dateCreate}"></td>
                            <td th:text="${invoice.invoiceNumber}"></td>
                            <td th:text="@{${invoice.clientPartner.companyName}+${invoice.clientPartner.personalName}+' '+${invoice.clientPartner.personalSurname}}"> </td>
                            <td th:text="${invoice.description}"></td>
                            <td class="countable0" style="text-align: right; " th:text="${invoice.amountType[0]}"></td>
                            <td class="countable1" style="text-align: right; " th:text="${invoice.amountType[1]}"></td>
                            <td style="text-align: right; "
                                th:value="${invoice.amountType[0]} + ${invoice.amountType[1]}">
                            </td>
                            <td class="countable2" style="text-align: right; " th:text="${invoice.amountType[2]}"></td>
                            <td class="countable3" style="text-align: right; " th:text="${invoice.amountType[3]}"></td>
                            <td style="text-align: right; "
                                th:value="${invoice.amountType[2]} + ${invoice.amountType[3]}">
                            </td>
                        </tr>

                    <!--        sum of all invoices under the loop -->
                        <tr style="text-align: right; ">
                            <td class="empty-table"></td>
                            <td class="empty-table"></td>
                            <td class="empty-table"></td>
                            <td class="empty-table"></td>
                            <td>Sum of all invoices in book:</td>
                            <td th:text="${sumAmountAllTime[0]}"></td>
                            <td th:text="${sumAmountAllTime[1]}"></td>
                            <td
                                    th:text="${sumAmountAllTime[4]}">
                            </td>
                            <td th:text="${sumAmountAllTime[2]}"></td>
                            <td th:text="${sumAmountAllTime[3]}"></td>
                            <td
                                    th:text="${sumAmountAllTime[5]}">
                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>



            <!--    Address Filter Script -->
        <script th:replace="templateFilters :: addresses"></script>

    </div>
</div>
<!--    end div main-->



</body>
</html>
