<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="templateSimple :: header"></head>

<body>

<!--    div upper menu-->
<div th:replace="templateSimple :: divUpperMenuLogged"></div>

<!--    div main-->
<div id="main">

    <!--    div menu (left side)-->
    <div th:replace="templateSimple :: divMenuLeft"></div>

    <!--        div content (central) inside main-->
    <div id="content" class="col-sm-10">
        <br><br><br><br>
        <h3>Welcome in Revenue and Expense Ledger v2</h3>
        <br><br>

        <hr>
        <h4>Private Data:</h4><br>
        Your login: <span th:text="${name}"></span><br>
        Your password: <span th:text="${password}"></span><br>
        <form onsubmit="window.location = '/changePassword/' + search.value; return false;">
            <div class="form-group form-inline">
                <input class="form-control" placeholder="change password" type="search" name="search"/>
                <button class="btn btn-primary" type="submit">change</button>
            </div>
        </form>
        Your role: <span th:text="${role}"></span><br>
        Your Id: <span th:text="${id}"></span><br>
        Your IP: <span th:text="${remoteAddress}"></span><br>
        When your account expire: <span th:text="${expireDate}"></span>
        <a href="/subscription"> -> extend the subscription</a><br>
        Your data: <span th:text="${client}"></span><br>

        <hr>
        <h4>How to use RaELv2:</h4><br>
        <div>
            <div class="col-sm-4">
                <b>If you have just registered:</b><br>
                1) Add address (your address)
                <a href="/addressAdd">/addressAdd</a><br>
                2) Add client (write yourself)
                <a href="/clientAdd">/clientAdd</a><br>
                3) Set client to your account
                <a href="/clientAdd">/setup/{clientId}</a><br>
                <form onsubmit="window.location = '/setup/' + search.value; return false;">
                    <div class="form-group form-inline">
                        <input class="form-control" id="search" placeholder="clientId" type="search" name="search"/>
                        <button class="btn btn-primary" type="submit">set</button>
                    </div>
                </form>
                4) refresh page
                <a href="/home">/home</a><br>
                5) now you can use RaELv2<br>
            </div>
            <div class="col-sm-4">
                <b>If you click demo user (Jarek@JarekIT.pl):</b><br>
                1) Click there to summary month by month all invoices in present year
                and calculate tax to pay 19% tax rate:
                <a href="/summary/2019-19">/summary/2019-19</a><br>
                2) Click there to get information about all invoices in 2019-07, sorted by create invoice day:
                <a href="/book/2019-07"> /book/2019-07</a><br>
                3) Click there to get information about all invoices in Book in present year,
                sorted by create invoice day:
                <a href="/book"> /book</a><br>
                4) You can view all invoices:
                <a href="/invoice"> /invoice</a><br>
                5) You can you filter above the invoice list

            </div>
            <div class="col-sm-4">
                <b>If you click demo admin (admin@JarekIT.pl):</b><br>
                1) Click there to get information about all data:
                <a href="/admin"> /admin</a><br>
                2) You can you filter all lists
            </div>
        </div>

    </div>
</div>
<!--    end div main-->



</body>
</html>
