<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="templateSimple :: header"></head>

<body>

<!--    div upper menu-->
<div th:replace="templateSimple :: divUpperMenuAnonymous"></div>

<!--    div main-->
<div id="main">

    <!--        div content (central) inside main-->
    <div class="container">
        <form class="form-signin" method="post" action="/login">
            <h3 class="form-signin-heading">Please sign in</h3>
            <p>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            </p>
            <p>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

            <!-- Register Button -->
            <button class="btn btn-lg btn-primary btn-block" onclick="window.location.href = '/register';">Register</button>
        </form>

    </div>

    <hr>

    <!--    DEMO user login-->
    <div class="container">
        <form class="form-signin" method="post" action="/login">
            <h3 class="form-signin-heading">Click for demo version:</h3>
            <input type="hidden" id="username" name="username" class="form-control" placeholder="Username" value="Jarek@JarekIT.pl" >
            <input type="hidden" id="password" name="password" class="form-control" placeholder="Password" value="JJJJJJ" >
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login as user: Jarek@JarekIT.pl</button>
        </form>
    </div>

    <!--    DEMO admin login-->
    <div class="container">
        <form class="form-signin" method="post" action="/login">
                <input type="hidden" id="username" name="username" class="form-control" placeholder="Username" value="admin@JarekIT.pl" >
                <input type="hidden" id="password" name="password" class="form-control" placeholder="Password" value="adminadmin" >
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login as admin: admin@JarekIT.pl</button>
        </form>
    </div>

</div>
<!--    end div main-->

</body>
</html>
