<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="templateSimple :: header"></head>

<body>

<!--    div upper menu-->
<div th:replace="templateSimple :: divUpperMenuLogged"></div>

<!--    div main-->
<div id="main">

    <!--    div menu (left side)-->
    <div th:replace="templateSimple :: divMenuLeft"></div>

    <!--        div content (central) inside main-->
    <div id="content" class="col-sm-10">
        <br><br><br><br>
        <h3>Welcome in Newsletter page</h3>
        <br><br>

        <form class="form-signin" action="/newsletter" method="post">
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" name="email" placeholder="E-mail address">
            </div>
            <button type="submit" class="btn btn-primary">add me</button>
        </form>

    </div>
</div>
<!--    end div main-->



</body>
</html>
