<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="templateSimple :: header"></head>

<body>

<!--    div upper menu-->
<div th:replace="templateSimple :: divUpperMenuAnonymous"></div>

<!--    div main-->
<div id="main">

    <!--        div content (central) inside main-->
    <div class="container" >
        <form class="form-signin" th:action="@{/register}", method="post">
            <h3 class="form-signin-heading">Register</h3>
            <p>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            </p>
            <p>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </p>
            <p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                <button class="btn btn-lg btn-primary btn-block" onclick="window.location.href = '/login';">Back to Login Page</button>
            </p>

        </form>
    </div>



</div>
<!--    end div main-->

</body>
</html>
