<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="templateSimple :: header"></head>

<body>

<!--    div upper menu-->
<div th:replace="templateSimple :: divUpperMenuLogged"></div>

<!--    div main-->
<div id="main">

    <!--    div menu (left side)-->
    <div th:replace="templateSimple :: divMenuLeft"></div>

    <!--        div content (central) inside main-->
    <div id="content" class="col-sm-10">
        <br><br><br><br>
        <h3>Welcome in Subscription page</h3>
        <br><br>

        <hr>
        <h4>Private Data:</h4><br>

        Generate code: <span th:text="${generatedCode}"></span><br>
        Refresh Page to generate another code<br>

        When your account expire: <span th:text="${expireDate}"></span><br>

        You can extend by 1 month, just enter code: <br>
        <form onsubmit="window.location = '/subscription/' + search.value; return false;">
            <div class="form-group form-inline">
                <input class="form-control" id="search" placeholder="code" type="search" name="search"/>
                <button class="btn btn-primary" type="submit">submit code</button>
            </div>
        </form>







    </div>

</div>
</div>
<!--    end div main-->



</body>
</html>

