<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="addresses" class="container-smaller">
    <h2>Address list</h2>
    <input class="form-control" id="myInputAddress" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped table-sm small">
        <thead>
        <th style="text-align: center; ">No</th>
        <th style="text-align: center; ">Street name</th>
        <th style="text-align: center; ">House nr</th>
        <th style="text-align: center; ">Apartment nr</th>
        <th style="text-align: center; ">Postcode</th>
        <th style="text-align: center; ">City</th>
        <th style="text-align: center; ">Status</th>
        <th style="text-align: center; ">Edit</th>
        <th style="text-align: center; ">Delete</th>
        </thead>

        <tbody id="myTableAddress">
        <tr th:each="address: ${addresses}">
            <td style="text-align: center; " th:text="${address.id}"/>
            <td th:text="${address.street}"/>
            <td style="text-align: right; " th:text="${address.houseNumber}"/>
            <td style="text-align: right; " th:text="${address.apartmentNumber}"/>
            <td style="text-align: right; " th:text="${address.postcode}"/>
            <td th:text="${address.city}"/>
            <td th:text="${address.status}"/>
            <td>
                <a class="btn btn-warning btn-sm"
                   th:href="@{'/addressEdit/' + ${address.id}}">edit</a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm "
                   th:href="@{'/addressDelete/' + ${address.id}}"
                   onclick="return confirm('Are you sure you want to delete this item?');">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div th:fragment="clients" class="container-smaller">
    <h2>Client list</h2>
    <input class="form-control" id="myInputClient" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped table-sm small">
        <tr>
            <th style="text-align: center; ">No</th>
            <th style="text-align: center; ">Company name</th>
            <th style="text-align: center; ">Personal name</th>
            <th style="text-align: center; ">Personal surname</th>
            <th style="text-align: center; ">Company number</th>
            <th style="text-align: center; ">Personal number</th>
            <th style="text-align: center; ">Address</th>
            <th style="text-align: center; ">Status</th>
            <th style="text-align: center; ">Edit</th>
            <th style="text-align: center; ">Delete</th>
        </tr>

        <tbody id="myTableClient">
        <tr th:each="address: ${clients}">
                <td style="text-align: center; " th:text="${client.id}"/>
                <td th:text="${client.companyName}"/>
                <td th:text="${client.personalName}"/>
                <td th:text="${client.personalSurname}"/>
                <td style="text-align: right; " th:text="${client.companyNumber}"/>
                <td style="text-align: right; " th:text="${client.personalNumber}"/>
                <td>&nbsp;&nbsp;
                    <a class="btn btn-warning btn-sm"
                                   href="/addressEdit?id=${client.address.id}" th:text="${client.address.id}</a>"/>
                <td th:text="${client.status}"/>
                <td>&nbsp;&nbsp;<a class="btn btn-warning btn-sm"
                                   th:href="@{'/clientEdit/' + ${client.id}}">edit</a>
                </td>
                <td>&nbsp;&nbsp;<a class="btn btn-danger btn-sm"
                                   th:href="@{'/clientDelete/' + ${client.id}}">delete</a>

                </td>
            </tr>
        </c:forEach>
        </tbody>
    </table>
</div>




</html>