<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="addresses" class="container-smaller">
    <h2>Address list</h2>
    <input class="form-control" id="myInputAddress" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped table-sm small">
        <thead>
        <th style="text-align: center; ">No</th>
        <th style="text-align: center; ">Street name</th>
        <th style="text-align: center; ">House nr</th>
        <th style="text-align: center; ">Apartment nr</th>
        <th style="text-align: center; ">Postcode</th>
        <th style="text-align: center; ">City</th>
        <th style="text-align: center; ">Status</th>
        <th style="text-align: center; ">Edit</th>
        <th style="text-align: center; ">Delete</th>
        </thead>

        <tbody id="myTableAddress">
        <!--/*@thymesVar id="addresses" type="pl.jarekit.rael.controller.BookController"*/-->
        <tr th:each="address: ${addresses}">
            <td style="text-align: center; " th:text="${address.id}"/>
            <td th:text="${address.street}"/>
            <td style="text-align: right; " th:text="${address.houseNumber}"/>
            <td style="text-align: right; " th:text="${address.apartmentNumber}"/>
            <td style="text-align: right; " th:text="${address.postcode}"/>
            <td th:text="${address.city}"/>
            <td th:text="${address.status}"/>
            <td>
                <a class="btn btn-warning btn-sm"
                   th:href="@{'/addressEdit/' + ${address.id}}">edit</a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm "
                   th:href="@{'/addressDelete/' + ${address.id}}"
                   onclick="return confirm('Are you sure you want to delete this item?');">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div th:fragment="clients" class="container-smaller">
    <h2>Client list</h2>
    <input class="form-control" id="myInputClient" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped table-sm small">
        <tr>
            <th style="text-align: center; ">No</th>
            <th style="text-align: center; ">Company name</th>
            <th style="text-align: center; ">Personal name</th>
            <th style="text-align: center; ">Personal surname</th>
            <th style="text-align: center; ">Company number</th>
            <th style="text-align: center; ">Personal number</th>
            <th style="text-align: center; ">Address</th>
            <th style="text-align: center; ">Status</th>
            <th style="text-align: center; ">Edit</th>
            <th style="text-align: center; ">Delete</th>
        </tr>

        <tbody id="myTableClient">
        <!--/*@thymesVar id="clients" type="pl.jarekit.rael.controller.ClientController"*/-->
        <tr th:each="client: ${clients}">
                <td style="text-align: center; " th:text="${client.id}"></td>
                <td th:text="${client.companyName}"></td>
                <td th:text="${client.personalName}"></td>
                <td th:text="${client.personalSurname}"></td>
                <td style="text-align: right; " th:text="${client.companyNumber}"></td>
                <td style="text-align: right; " th:text="${client.personalNumber}"></td>
                <td>&nbsp;&nbsp;
                    <a class="btn btn-warning btn-sm"
                       th:href="@{'/addressEdit/' + ${client.address.id}}" th:text="${client.address.id}"></a>
                </td>
                <td th:text="${client.status}"></td>
                <td>&nbsp;&nbsp;<a class="btn btn-warning btn-sm"
                                   th:href="@{'/clientEdit/' + ${client.id}}">edit</a>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm"
                       th:href="@{'/clientDelete/' + ${client.id}}"
                       onclick="return confirm('Are you sure you want to delete this item?');">delete
                    </a>
                </td>
            </tr>
        </c:forEach>
        </tbody>
    </table>
</div>


<div th:fragment="invoices" class="container-smaller">
    <h2>Invoice list</h2>
    <input class="form-control" id="myInputInvoice" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped table-sm small">
        <thead>
        <tr style="text-align: center; ">
            <th style="text-align: center; ">No</th>
            <th style="text-align: center; ">Seller</th>
            <th style="text-align: center; ">Buyer</th>
            <th style="text-align: center; ">Type</th>
            <th style="text-align: center; ">number</th>
            <th style="text-align: center; ">date create</th>
            <th style="text-align: center; ">date sale</th>
            <th style="text-align: center; ">amount</th>
            <th style="text-align: center; ">description</th>
            <th style="text-align: center; ">Edit</th>
            <th style="text-align: center; ">Delete</th>
        </tr>
        </thead>

        <tbody id="myTableInvoice">
        <!--/*@thymesVar id="invoices" type="pl.jarekit.rael.controller.InvoiceController"*/-->
        <tr th:each="invoice: ${invoices}">
                <td style="text-align: center; " th:text="${invoice.id}"></td>
                <td th:text="@{${invoice.clientSeller.companyName}+${invoice.clientSeller.personalName}+' '+${invoice.clientSeller.personalSurname}}"></td>
                <td th:text="@{${invoice.clientBuyer.companyName}+${invoice.clientBuyer.personalName}+' '+${invoice.clientBuyer.personalSurname}}"></td>
                <td style="text-align: center; " th:text="${invoice.type}"></td>
                <td th:text="${invoice.invoiceNumber}"></td>
                <td th:text="${invoice.dateCreate}"></td>
                <td th:text="${invoice.dateSale}"></td>
                <td style="text-align: right; " th:text="${invoice.amount}"></td>
                <td th:text="${invoice.description}"></td>
                <td>
                    <a class="btn btn-warning btn-sm"
                       th:href="@{'/invoiceEdit/' + ${invoice.id}}" th:text="${invoice.id}">
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm"
                       th:href="@{'/invoiceDelete/' + ${invoice.id}}"
                       onclick="return confirm('Are you sure you want to delete this item?');">delete
                    </a>
                </td>

        </tbody>
    </table>
</div>


<div th:fragment="users" class="container-smaller">
    <h2>User list</h2>
    <input class="form-control" id="myInputUser" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped table-sm small">
        <thead>
        <th style="text-align: center; ">Id</th>
        <th style="text-align: center; ">Username</th>
        <th style="text-align: center; ">password</th>
        <th style="text-align: center; ">Role</th>
        <th style="text-align: center; ">User_Id</th>
        <th style="text-align: center; ">Edit</th>
        <th style="text-align: center; ">Delete</th>
        </thead>

        <tbody id="myTableUser">
        <!--/*@thymesVar id="users" type="pl.jarekit.rael.controller.AdminController"*/-->
        <tr th:each="user: ${users}">
            <td style="text-align: center; " th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.clientUser}"></td>
            <td>
                <a class="btn btn-warning btn-sm">edit</a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm "
                   onclick="return confirm('Are you sure you want to delete this item?');">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</html>
